:root {
  --mark-size: 1.1em
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.Guitar {
  margin: 2em;
}

.Fret {
  position: relative;
  float: left;
  width: 2em;
  text-align: center;
  height: 1.2em;
  border-left: 1px solid rgba(0, 0, 0, 0.22);
  line-height: 1.4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Fret::after {
  content: "";
  width: 2em;
  height: 1px;
  position: absolute;
  top: 50%;
  background: rgba(255, 148, 11, 0.38);
}

.Fret:first-child {
  border-right: 1px solid black;
}

.string {
  overflow: hidden;
}

.mark {
  font-weight: bold;
  font-family: Consolas;
  color: white;
  text-align: center;
}

.mark .inner {
  position: relative;
}

.mark .background {
  position: absolute;
  left: calc(50% - var(--mark-size) / 2);
  top: calc(50% - var(--mark-size) / 2);
  font-family: serif;
  z-index: -1;
  border-radius: 999px;
  width: var(--mark-size);
  height: var(--mark-size);
  box-sizing: border-box;
  opacity: 0.1;
}

.mark .background.chord {
  opacity: 1;
}

.Fret:nth-child(4),
.Fret:nth-child(6),
.Fret:nth-child(8),
.Fret:nth-child(10),
.Fret:nth-child(13),
.Fret:nth-child(16),
.Fret:nth-child(18),
.Fret:nth-child(20),
.Fret:nth-child(22),
.Fret:nth-child(25) {
  background: rgba(235, 255, 0, 0.06);
}

.Fret:nth-child(1),
.Fret:nth-child(13),
.Fret:nth-child(25) {
  background: rgba(255, 216, 0, 0.16);
}

.Piano {
  overflow: hidden;
  position: relative;
  margin: 2em;
}

.Key {
  width: 1em;
  height: 4em;
  float: left;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.Key.black::after {
  content: "";
  background: rgb(224, 224, 224);
  width: 1em;
  height: 2.4em;
  position: absolute;
  left: calc(100% - 1em);
  top: 0;
}

.Key.black::before {
  content: "";
  height: 100%;
  width: 1px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.Key.bordered {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.Key .mark {
  bottom: 0.2em;
  position: absolute;
  left: calc(100% - var(--mark-size) / 1.5);
  z-index: 10000;
}

.Key {
  text-align: center;
}

.Key.black .mark {
  bottom: 1.7em;
}

.settings {
  text-align: left;
  margin: 2em;
}

.settings .section {
  margin-bottom: 0.5em;
}

.settings label {
  width: 7em;
  display: inline-block;
  font-size: 80%;
}

.chords {
  margin: 2em;
}

.chord-list {
  overflow: hidden;
}

.chords .chord {
  width: 6em;
  float: left;
  margin-right: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: 0.5em;
  box-sizing: border-box;
}

.chords .chord.selected {
  border: 2px solid rgba(0, 0, 0, 0.43);
}

.chord .name {
  font-weight: 800;
}

.chord .degree-name {
  font-size: 80%;
  opacity: 0.5;
}

.chord .degrees {
  font-size: 80%;
  opacity: 0.5;
}

.player {
  margin: 2em;
}
